<h4>Registro - Validaciones reactivas.</h4>
<hr>
<div class="row">

    <form [formGroup]="miFormulario" (ngSubmit)="guardar()" autocomplete="off">

    <div class="col">

        <!-- Nombre -->
        <div class="row mb-3">
            <label clas="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-9">
                <input type="text"
                    class="form-control"
                    placeholder="Introduce tu nombre"
                    formControlName="nombre"
                    >

                <small *ngIf="campoNoValido('nombre')"
                    class="form-text text-danger">
                    El nombre es requerido
                </small>

            </div>

        </div>


        <!-- Identificador -->
        <div class="row mb-3">
            <label clas="col-sm-3 col-form-label">Indentificador</label>
            <div class="col-sm-9">
                <input type="text"
                    class="form-control"
                    placeholder="Introduce el identificador"
                    formControlName="identificador"
                    >

                <small *ngIf="campoNoValido('identificador')"
                    class="form-text text-danger">
                    El identificador es obligatorio y al menos 9 letras.
                </small>

            </div>

        </div>

        <!-- email -->
        <div class="row mb-3">
            <label clas="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email"
                    class="form-control"
                    placeholder="Introduce tu email"
                    formControlName="email"
                    >

                <small *ngIf="campoNoValido('email')"
                    class="form-text text-danger">
                    El email es requerido y tiene que ser válido
                </small>

            </div>

        </div>

        <!-- UserName -->
        <div class="row mb-3">
            <label clas="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
                <input type="text"
                    class="form-control"
                    placeholder="Introduce tu username"
                    formControlName="userName"
                    >

                <small *ngIf="campoNoValido('userName')" 
                    class="form-text text-danger">
                   El username es requerido y no puede ser 'carlos'
                </small>

            </div>

        </div>

        <!-- Password 1 -->

        <div class="row mb-3">
            <label clas="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input type="password"
                    class="form-control"
                    placeholder="Introduce la password"
                    formControlName="password1"
                    >

                <small *ngIf="campoNoValido('password1')"
                    class="form-text text-danger">
                   La password tiene que tener al menos 6 caractéres.
                </small>

            </div>

        </div>

        <!-- Password 2 -->
        <div class="row mb-3">
            <label clas="col-sm-3 col-form-label">Repite la Password</label>
            <div class="col-sm-9">
                <input type="password"
                    class="form-control"
                    placeholder="repite la password"
                    formControlName="password2"
                    >

                <small *ngIf="campoNoValido('password2')"
                    class="form-text text-danger">
                   Las password tienen que coincidir
                </small>

            </div>

        </div>


        <!-- Botón-->
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary float-end">
                    Guardar
                </button>
            </div>
        </div>



    </div>

</form>
</div>

<h4>Formulario Valid</h4>
<pre>{{ miFormulario.valid }}</pre>
<h4>Estado del formulario</h4>
<pre>{{ miFormulario.status }}</pre>

<h4>Password1 - errores</h4>
<pre>{{ miFormulario.get('password1')?.errors | json }}</pre>

<h4>Password2 - errores</h4>
<pre>{{ miFormulario.get('password2')?.errors | json }}</pre>


<h4>Email - errores</h4>
<pre>{{ miFormulario.get('email')?.errors | json }}</pre>

<h4>Username - errores</h4>
<pre>{{ miFormulario.get('userName')?.errors | json }}</pre>

<h4>Identificador - errores</h4>
<pre>{{ miFormulario.get('identificador')?.errors | json }}</pre>

<h4>Nombre - errores </h4>
<pre>{{ miFormulario.get('nombre')?.errors | json }}</pre>